{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_collabora/content

    Displays etherpad content

    Example context (json):
    {
        "id" : 46,
        "legacy" : 1,
        "name" : "Test pad",
        "loadfileurl": 1,
        "description" : "...",
        "activitymenu" : "<select><option>1</option><option>2</option></select>",
        "lockicon" : "<img alt=\"icon\" src=\"icon.png\">",
        "viewurl" : "https://nodomain.local",
        "framewidth" : "900px",
        "frameheight" : "500px",
        "warning" : "",
        "hasnotice" : 1,
        "noticetype" : "warning",
        "notice" : "Collabora URL is not configured for this site"
    }

}}
{{^embedded}}
    <h2>
        {{name}}
    </h2>
{{/embedded}}

{{#description}}
    <div class="box generalbox mod_introbox py-3">
        <div class="no-overflow">
            {{{description}}}
        </div>
    </div>
{{/description}}

{{#hasnotice}}
<div class="alert alert-{{noticetype}} alert-block " role="alert">
    {{notice}}
</div>
{{/hasnotice}}

{{^warning}}
    {{^embedded}}
        <button type="button" title="{{#str}}fullscreen, mod_collabora{{/str}}" class="collaboramodal btn btn-primary btn-sm" data-toggle="modal" data-target="#collaboramodal_{{id}}">
            <i class="fa fa-expand fa-lg" aria-hidden="true"></i>
        </button>
    {{/embedded}}
    {{{activitymenu}}}
    {{{lockicon}}}
    {{#loadfileurl}}<div class="float-right mr-2{{^embedded}} mt-2{{/embedded}}">
            <a href="{{{.}}}" title="{{#str}}download{{/str}}">
                <i class="icon fa fa-download"></i>{{#str}}download{{/str}}
            </a>
        </div>{{/loadfileurl}}
    {{#legacy}}
        {{> mod_collabora/iframe_legacy}}
    {{/legacy}}
    {{^legacy}}
        {{> mod_collabora/iframe}}
    {{/legacy}}
    {{^embedded}}
    {{> mod_collabora/modal}}
    {{/embedded}}
{{/warning}}

{{#warning}}
    <div class="alert alert-warning">{{.}}</div>
{{/warning}}

{{#js}}
    {{^warning}}

        require(['mod_collabora/modal_iframe'], function(mod) {
            mod.init("{{{viewurl}}}", {{{id}}});
        });
    {{/warning}}
{{/js}}
