{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_collabora/version_viewer_content

    Displays collabora iframe

    Example context (json):
    {
        "id" : 1
    }

}}
<table id="version_viewer_table-{{id}}" class="table table table-striped">
    <thead>
        <tr>
            <th>{{#str}} version {{/str}}</th>
            <th>{{#str}} action {{/str}}</th>
        </tr>
    </thead>
    <tbody>
        {{#currentfileinfo}}
            <tr>
                <td class="font-bold">{{#iscurrent}}<i class="fa fa-eye"></i> {{/iscurrent}}{{timemodified}} <i class="fa fa-asterisk fa-fw"></i></td>
                <td>
                    {{#hasversions}}
                        <a href="#" class="collabora-preview-button" title="{{#str}} back {{/str}}" data-version="0">
                            <i class="fa fa-arrow-left fa-fw collabora-preview-button" data-version="0"></i>
                        </a>
                    {{/hasversions}}
                </td>
            </tr>
        {{/currentfileinfo}}
        {{#hasversions}}
            {{#versioninfos}}
                <tr>
                    <td>{{#iscurrent}}<i class="fa fa-eye"></i> {{/iscurrent}}{{timemodified}}</td>
                    <td>
                        <a href="{{{downloadurl}}}" target="_blank" title="{{#str}} download {{/str}}">
                            <i class="fa fa-download fa-fw"></i>
                        </a>
                        <a href="#" class="collabora-preview-button" title="{{#str}} preview {{/str}}" data-version="{{version}}">
                            <i class="fa fa-search fa-fw collabora-preview-button" data-version="{{version}}"></i>
                        </a>
                        <a href="#" class="collabora-restore-button" title="{{#str}} restore {{/str}}" data-version="{{version}}">
                            <i class="fa fa-undo fa-fw collabora-restore-button" data-version="{{version}}""></i>
                        </a>
                    </td>
                </tr>
            {{/versioninfos}}
        {{/hasversions}}
    </tbody>
</table>
{{#js}}
    require(['core/log'], function(log) {

        const table = document.querySelector("#version_viewer_table-{{id}}");
        table.addEventListener("click", (event) => {
            const target = event.target;
            const version = target.dataset.version;
            if (target.classList.contains("collabora-preview-button")) {
                event.preventDefault();
                var postObject = {
                    'MessageId': 'SET_VERSION',
                    'Values': {
                        'version': version
                    }
                };
                postMessage(postObject);
            }
            if (target.classList.contains("collabora-restore-button")) {
                event.preventDefault();
                var postObject = {
                    'MessageId': 'RESTORE_VERSION',
                    'Values': {
                        'version': version
                    }
                };
                postMessage(postObject);
            }
        });

        /**
        * Send a message to the collabora editor
        * @param {object} postObject The object we want to post.
        */
        function postMessage(postObject) {
            postObject.SendTime = Date.now();
            var message = JSON.stringify(postObject);
            log.debug('Post message to myself: ' + message);

            window.postMessage(message, '*');
        }
    });

{{/js}}
