{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_collabora/version_viewer_content

    Displays collabora iframe

    Example context (json):
    {
        "id" : 1
    }

}}
<table id="version_viewer_table-{{id}}" class="table table table-striped">
    <thead>
        <tr>
            <th>{{#str}} version {{/str}}</th>
            <th>{{#str}} action {{/str}}</th>
        </tr>
    </thead>
    <tbody>
        {{#currentfileinfo}}
            <tr {{#iscurrent}} class="border-success" style="border-left-style:solid;border-left-width:5px;"{{/iscurrent}}>
                <td class="fw-bold"><i class="fa fa-asterisk fa-fw"></i> {{timemodified}}</td>
                <td>
                    {{#hasversions}}
                        {{^iscurrent}}
                            <a href="#" class="text-decoration-none collabora-preview-button" title="{{#str}} back {{/str}}" data-version="0">
                                <i class="fa fa-arrow-left fa-fw collabora-preview-button" data-version="0"></i>
                            </a>
                        {{/iscurrent}}
                        {{#iscurrent}}
                            <i class="fa fa-arrow-left fa-fw"></i>
                        {{/iscurrent}}
                    {{/hasversions}}
                </td>
            </tr>
        {{/currentfileinfo}}
        {{#hasversions}}
            {{#versioninfos}}
                <tr {{#iscurrent}} class="border-success" style="border-left-style:solid;border-left-width:5px;"{{/iscurrent}}>
                    <td>{{timemodified}}</td>
                    <td>
                        {{^iscurrent}}
                            <a href="#" class="text-decoration-none collabora-preview-button" title="{{#str}} preview {{/str}}" data-version="{{version}}">
                                <i class="fa fa-search fa-fw collabora-preview-button" data-version="{{version}}"></i>
                            </a>
                        {{/iscurrent}}
                        {{#iscurrent}}
                            <i class="fa fa-search fa-fw"></i>
                        {{/iscurrent}}
                        <a href="{{{downloadurl}}}" class="text-decoration-none" target="_blank" title="{{#str}} download {{/str}}">
                            <i class="fa fa-download fa-fw"></i>
                        </a>
                        <a href="#" class="text-decoration-none" title="{{#str}} restore {{/str}}" data-bs-toggle="collapse" data-bs-target="#restorequestion-{{version}}">
                            <i class="fa fa-undo fa-fw" data-bs-toggle="collapse" data-bs-target="#restorequestion-{{version}}"></i>
                        </a>
                        <a href="#" class="text-decoration-none text-danger" title="{{#str}} delete {{/str}}" data-bs-toggle="collapse" data-bs-target="#deletequestion-{{version}}">
                            <i class="fa fa-trash fa-fw"></i>
                        </a>
                        <!-- Confirmation toggles -->
                        <div id="restorequestion-{{version}}" class="collapse">
                            <a href="#" class="btn btn-secondary btn-sm" data-bs-toggle="collapse" data-bs-target="#restorequestion-{{version}}">{{#str}}no{{/str}}</a>
                            <a href="#" class="btn btn-primary btn-sm collabora-restore-button" data-version="{{version}}">{{#str}}yes{{/str}}</a>
                        </div>
                        <div id="deletequestion-{{version}}" class="collapse">
                            <a href="#" class="btn btn-secondary btn-sm" data-bs-toggle="collapse" data-bs-target="#deletequestion-{{version}}">{{#str}}no{{/str}}</a>
                            <a href="#" class="btn btn-danger btn-sm collabora-deleteversion-button" data-version="{{version}}">{{#str}}yes{{/str}}</a>
                        </div>
                    </td>
                </tr>
            {{/versioninfos}}
        {{/hasversions}}

        <tr>
            <td class="fw-bold">{{#str}} initialfile, mod_collabora {{/str}}</td>
            <td>
                <a href="#" class="text-decoration-none" title="{{#str}} restore {{/str}}" data-bs-toggle="collapse" data-bs-target="#restorequestion-init">
                    <i class="fa fa-undo fa-fw" data-bs-toggle="collapse" data-bs-target="#restorequestion-init"></i>
                </a>
                <div id="restorequestion-init" class="collapse">
                    <a href="#" class="btn btn-secondary btn-sm" data-bs-toggle="collapse" data-bs-target="#restorequestion-init">{{#str}}no{{/str}}</a>
                    <a href="#" class="btn btn-primary btn-sm collabora-restore-button" data-version="-1">{{#str}}yes{{/str}}</a>
                </div>
            </td>
        </tr>

    </tbody>
</table>
{{#js}}
    require(['mod_collabora/versionmanager'], function(vm) {
        vm.init({{id}});
    });
{{/js}}
