{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_collabora/version_viewer

    Displays collabora iframe

    Example context (json):
    {
        "id" : 1
    }

}}

<div id="version_viewer_{{id}}" class="collapse width card">
    <div class="card-header">
        <button type="button" data-bs-toggle="collapse" data-bs-target="#version_viewer_{{id}}" class="btn btn-secondary btn-sm border-bottom">
            <i class="fa fa-chevron-right fa-lg" aria-hidden="true"> </i>
        </button>
    </div>
    <div class="card-body">
        <!-- The content comes later by js -->
    </div>
</div>
